<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVP - Lessons</title>
    <link th:href="@{/css/general.css}" rel="stylesheet" />
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div id="container">
    <nav th:replace="fragments/nav :: nav(${lessons}, ${url})"></nav>

    <main>
        <h1 th:text="${lesson.name}"></h1>

        <div th:replace="fragments/squarelist :: squarelist(${lesson.tasks}, ${'tasks'})"></div>
    </main>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>