<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Viewer - Edit Subject</title>
    <link th:href="@{/css/general.css}" rel="stylesheet" />
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div id="container">
    <main>
        <h1>Edit Subject</h1>

        <form th:action="@{/subjects}" th:object="${subject}" th:method="put">
            <input type="hidden" name="id" th:value="${subject.id}" />

            <div>
                <label for="name">Nazwa:</label>
                <input type="text" id="name" name="name" th:value="${subject.name}" />
            </div>

            <div>
                <input type="submit" />
            </div>
        </form>
    </main>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>